$color_base_1: #e40b7f;
$color_base_2: white;
$color_base_3: #000000;
$color_base_4: #0088a9;
$color_base_5: #6d6d6d80;
$hover_navbar: #e40b7f;
$fuente_header: 'Mister Twisted 3D', sans-serif;
$fuente_footer: "Mister Twisted", sans-serif;
$fuente_texto_general: "Mister Twisted", sans-serif;